@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    top: 0;
}
.navbar-brand{
    margin: 0 0 0 5vh;
}
.navbar-nav{
    margin: 0 0 0 15vh;
}
.nav-item{
    margin: 0 2vh;
    color: #434343;
}
.nav-link:hover{
    color: #4573A7;
}
.container-fluid{
    height: 6vh;
}
#search{
    height: 2.3vh;
    width: 2.3vh;
    margin: 1.6vh 0 0 1vh;
}
.background-image{
    width: 100vw;
    position: relative;
    
}
.background-image img{
    width: 100vw;
}
.background-image span{
    font-family: 'Orbikular Roman';
    position: absolute;
    top: 12vw;
    left: 4vw;
    color: white;
    font-size: 3rem ;
}
.main-content{
    border: 2px solid black;
    display: flex;
}
.aside-bar{
    /* border: 2px solid red; */
    width: 20vw;
    display: flex;
    flex-direction: column;
    position: sticky;   /* Make it sticky */
    top: 0;             /* Stick from top */
    align-self: flex-start; /* Important for flex container */
}
.aside-bar a{
    color: #6b6a6a;
    margin: 1.7vw 0;
    margin-left: 7vh;
    text-decoration: none;
    font-size: 1.3rem;
}
.aside-bar-content{
    font-size: 1.3rem;
    margin: 1vh 0;
    margin-left: 7vh;
    font-weight: 500;
}
.aside-bar-content:hover{
    color: #4573A7;
}
.shirts{
    width: 80vw;
    /* border: 2px solid blue; */
}
.shirts-filter{
    color: #6b6a6a;
    text-align: right;
    padding: 1.5vw;
}
#sort-by{
    margin-left: 2.5vw;
}
.shirts-content{
    /* border: 2px solid black; */
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}
.shirts-content-card{
    /* border: 1px solid firebrick; */
    margin-bottom: 4vh;
    width: 19.3vw;
    margin-left: 1vh;
    transition: all .4s ease;
}
.shirts-content-card img{
    width: 18.5vw;
}
.shirts-content-card h4 ,
.shirts-content-card span ,
.shirts-content-card p{
    padding-left: 4vh;
}
.hidden{
    opacity: 0; 
}
.shirts-content-card:hover .hidden{
    opacity: 1;
    transition: all .5s linear;
}

footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}
.footer-upper{
    width: 100vw;
    display: flex;
}
.footer-logo{
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-logo h2{
    margin-bottom: 2.5vw;
    font-weight: 700;
}
.footer-logo p{
    font-weight: 500;
    color: #777879;
}
.footer-logo-email{
    border: 2px solid #BCB49D;
    width: 19vw;
    padding: 1.5vh 1.5vh 1.5vh 5vh;
}
.footer-logo-email-box{
    border: none;
}
.footer-logo-email button{
    background-color: #BCB49D;
    padding: 1vh  1.5vh;
    color: white;
    border: none;
}
.footer-logo-social-media{
    margin-top: 3vw;
    display: flex;
    gap: 1.5vw;

}
.footer-logo-social-media img{
    height: 4vh;
    width: 4vh;
}
.footer-nav{
    width: 61vw;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 3vw ;

}
.footer-nav-support{
    display: flex;
    flex-direction: column;

}
.footer-nav-support h4{
    margin-bottom: 1vh;
}
.footer-nav li{
    color: #777879;
    font-weight: 500;
    list-style: none;
    font-size: 2.2vh;
    line-height: 4.1vh;
}
.footer-nav h4{
    font-size: 2vh;
}
.footer-nav-support-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5vw;
}
.footer-nav-support-button-card img{
    height: 4vh;
    width: 4vh;
    border: none;
}
.footer-nav-support-button button{
    border: none;
    background-color: white;
}
.footer-nav-support-button-card{
    text-align: center;
    font-size: 1.35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid olive;
    height: 7vh;
    width: 4vw;
    /* padding: 0 1vw; */
}

.footer-copyright{
    color: #777879;
    font-size: 1.2rem ;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer-copyright-item:hover{
    color: black;
    cursor: pointer;
}

