@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    margin: 0 0 0 5vh;
}
.navbar-nav{
    margin: 0 0 0 15vh;
}
.nav-item{
    margin: 0 1vh;
    color: #434343;
}
.nav-link:hover{
    color: #4573A7;
}
#search{
    height: 2.3vh;
    width: 2.3vh;
    margin: 1.6vh 0 0 1vh;
}
.main-image{
    height: 80vh;
    width: 100vw;
    position: relative;
    /* border: 20px solid black; */
}
.main-image img{
    height: 80vh;
    width: 100vw; 
}
.main-image-desc{
    position: absolute;
    top: 30vh;
    left:35vh;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#small-desc{
    font-size: 1.25rem;
    margin: 0;
}
#main-desc{
    font-size: 3rem;
    margin-top: 0;
}
.main-image-desc button{
    padding: 0.75vh 4vh;
}

.categories{
    width: 100vw;
    height: 55vh;
    margin: 12vh 8vh;
}

#categories-title{
    font-size: 4.5vh;
    margin-bottom: 6vh;
}

.categories-images {
  width: 100vw;
  height: auto;
  display: flex;           
  align-items: flex-start; 
  gap: 0.5vw;                
  flex-wrap: wrap;         
}

.categories-card {
  width: 14vw;             
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-card img {
  width: 100%;             
  height: auto;            
  border-radius: 8px;      
}
.categories-card p{
    font-weight: 600;
    margin-top: 1vh;
}
#categories-title:hover{
    font-weight: 600;
}
.responsibility{
    background-image: url("./images/background.jpg");
    font-family: 'Orbikular Roman';
    background-repeat: no-repeat;
    background-size: cover;
    gap: 46vh;
    background-position-y: -10vh;
    padding: 6vh 0 3vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.responsibility-upper , .responsibility-lower{
    font-size: 2.3rem;
    font-weight: 400;
    color: white;

}
.responsibility-lower{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 3vh;

}
.responsibility-lower a{
    font-size: 1rem ;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.new-arrivals{
    width: 100vw;
    padding: 0 3.5vw;
    margin-top: 4vw;
}
.new-arrivals-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: 'Orbikular Roman';
}
#shop-new-arrivals{
    font-size: 1.2rem;
}